.html {
    background-color: tan;
}
.head {
    background-color: gray;
    font-family: sans-serif, Tahoma, Verdana;
    color: black;
    margin: auto;
   
}

.headText {
    
    font-size: 50px;
   
   
    width: 40%;
    padding: 10px;
    
}

.footer {
    background-color: gray;
}
